
 <div class="container">
  <h1>Busqueda de productos</h1>
  <div class="col-md-10">
  <input ng-model="search.message" class="form-control">
  </div>
  <div class="col-md-1">
  <div ng-click="getthefeed()" class="btn btn-primary">Buscar</div>
  </div>
  <div class="col-md-1">
  <div class="fb-like" data-href="https://www.facebook.com/AppleBoliviaCertified" data-layout="box_count" data-action="recommend" data-show-faces="true" data-share="false"></div>
  </div>
</div> 

<div class="container">
<div ng-repeat=" post in feed | filter:search">
  <div class="col-sm-12 col-md-12 ">
    <div class="col-md-12 everyItem">
      <div class="col-md-8">
        <h3>{{post.from.name}}</h3>
        <p> {{post.message}}</p>
       <div class="btn btn-primary" ng-if="post.likes">{{post.likes.data.length}}</div>
      </div>
      <div class="col-md-3">
        <img ng-src="post.picture" class="img-rounded img-responsive">
       </div>
       
       <div class="col-md-1">
         <a href="{{post.actions[0].link}}" class="btn btn-primary" role="button">Ver</a>
       </div>
    </div>
  </div>





</div>
</div>
